*{  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}
body{
    margin: 0;
    padding: 0;
    background-color: #7c5294;
}

img.lado{
    float: right;
    margin-left: 10px;
    width: 100px;
}

main{
    background-color: #fff;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473); 
}